In [16]:
import pandas as pd

import geopandas
import geopandas as gpd
from shapely.geometry import Point, Polygon

pd.options.display.max_rows = 10

In [17]:
import geopandas as gpd
districts = gpd.read_file("https://opendata.paris.fr/explore/dataset/quartier_paris/download/?format=geojson&timezone=Europe/Paris")
districts.head()

,n_sq_qu,n_sq_ar,c_qu,surface,l_qu,perimetre,c_quinsee,c_ar,geometry
0,750000011,750000003,11,3.677284e+05,Archives,2534.100042,7510303,3,"POLYGON ((2.36848 48.85583, 2.36851 48.85573, ..."
1,750000026,750000007,26,1.073734e+06,Invalides,4434.656489,7510702,7,"POLYGON ((2.31901 48.85174, 2.31903 48.85170, ..."
2,750000027,750000007,27,8.078708e+05,Ecole-Militaire,3887.703157,7510703,7,"POLYGON ((2.32008 48.84818, 2.31936 48.84785, ..."
3,750000076,750000019,76,1.294988e+06,Combat,4435.273252,7511904,19,"POLYGON ((2.38834 48.88057, 2.38950 48.87955, ..."
4,750000053,750000014,53,1.126205e+06,Montparnasse,4565.136189,7511401,14,"POLYGON ((2.34159 48.83481, 2.34127 48.83312, ..."

In [18]:
import geopandas as gpd
stations = gpd.read_file("https://opendata.paris.fr/explore/dataset/velib-disponibilite-en-temps-reel/download/?format=geojson&timezone=Europe/Paris")
stations['lat'] = stations['geometry'].y
stations['lng'] = stations['geometry'].x
stations.head()

,nbfreeedock,nbebike,station_state,maxbikeoverflow,nbedock,station_type,overflowactivation,station_code,densitylevel,creditcard,...,nbbike,nbfreedock,overflow,nbbikeoverflow,duedate,kioskstate,nbebikeoverflow,geometry,lat,lng
0,30,4,Operative,0,35,yes,no,16107,1,no,...,1,0,no,0,2018-07-15,yes,0,POINT (2.27572 48.86598),48.865983,2.275725
1,40,7,Operative,55,52,yes,no,6015,1,yes,...,4,3,no,0,2018-04-05,yes,0,POINT (2.33910 48.85376),48.853756,2.339096
2,30,5,Operative,0,38,yes,no,11037,1,yes,...,2,0,no,1,2019-05-11,yes,0,POINT (2.36490 48.86787),48.867872,2.364898
3,20,1,Operative,21,21,yes,no,9020,1,yes,...,0,0,no,0,2018-11-30,yes,0,POINT (2.33736 48.87930),48.879296,2.337360
4,18,1,Operative,0,20,yes,no,11104,1,no,...,1,0,no,0,2018-10-22,yes,0,POINT (2.39257 48.85591),48.855908,2.392571

In [19]:
stations.dtypes

nbfreeedock           int64
nbebike               int64
station_state        object
maxbikeoverflow       int64
nbedock               int64
                     ...
kioskstate           object
nbebikeoverflow       int64
geometry           geometry
lat                 float64
lng                 float64
Length: 23, dtype: object

In [20]:
joined = gpd.sjoin(stations, districts, op='within')
grouped = joined.groupby('c_quinsee').size()
df = grouped.to_frame().reset_index()
df.columns = ['c_quinsee', 'count']
districts = districts.merge(df, on='c_quinsee', how='outer')
districts.head()

,n_sq_qu,n_sq_ar,c_qu,surface,l_qu,perimetre,c_quinsee,c_ar,geometry,count
0,750000011,750000003,11,3.677284e+05,Archives,2534.100042,7510303,3,"POLYGON ((2.36848 48.85583, 2.36851 48.85573, ...",3
1,750000026,750000007,26,1.073734e+06,Invalides,4434.656489,7510702,7,"POLYGON ((2.31901 48.85174, 2.31903 48.85170, ...",9
2,750000027,750000007,27,8.078708e+05,Ecole-Militaire,3887.703157,7510703,7,"POLYGON ((2.32008 48.84818, 2.31936 48.84785, ...",5
3,750000076,750000019,76,1.294988e+06,Combat,4435.273252,7511904,19,"POLYGON ((2.38834 48.88057, 2.38950 48.87955, ...",14
4,750000053,750000014,53,1.126205e+06,Montparnasse,4565.136189,7511401,14,"POLYGON ((2.34159 48.83481, 2.34127 48.83312, ...",12

In [22]:
# Load an empty map
%run config.py
from keplergl import KeplerGl 
map_1 = KeplerGl(height=600, width=800, data={'stations': stations, 'districts': districts}, config=config)

map_1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'kjyucbb', 'type': …

In [23]:
# Load an empty map
%run config_nb_free_edocks.py
from keplergl import KeplerGl 
map_1 = KeplerGl(height=600, width=800, data={'stations': stations, 'districts': districts}, config=config)

map_1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'nxadg4l', 'type': …

In [15]:
# with open('config_nb_free_edocks.py', 'w') as f:
#   f.write('config = {}'.format(map_1.config))